{% block content %}
{% load static %}
<h2>Your cart:</h2>
{% for product in products %}
  <img src="{% static product.icon %}">
  <p><strong>{{ product.name }}</strong></p>
  <p><strong>{{ product.price }}€</strong></p>
  <p><strong>Quantity: {{ product.quantity }}</strong></p>
  <p>---------------</p>
{% endfor %}

<button onclick="location.href = 'home.html'">Home</button>

<button id="buy">Buy</button>
{% endblock %}


<script>
    document.getElementById("buy").addEventListener("click", function() {window.location.href = "buy.html"})
</script>
